<ibm-header name="Aprendendo RxJS com Angular 12">
    <ibm-header-navigation ariaLabel="Aprendendo RxJS com Angular 12">
        <ibm-header-item href="/carriers">Transportadoras</ibm-header-item>
    </ibm-header-navigation>
    <ibm-header-global>
        <ibm-header-action title="action">
            <svg ibmIcon="notification" size="20"></svg>
        </ibm-header-action>
        <ibm-header-action title="action">
            <svg ibmIcon="user--avatar" size="20"></svg>
        </ibm-header-action>
        <ibm-header-action title="action">
            <svg ibmIcon="airport-location" size="20"></svg>
        </ibm-header-action>
    </ibm-header-global>
</ibm-header>
